<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyle.firstpick" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <uses-permission android:name="android.permission.INTERNET" />

        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindFriends"
            android:label="@string/title_activity_find_friends"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kyle.firstpick.MainActivity" />
        </activity>
        <activity
            android:name=".SendChallenge"
            android:label="@string/title_activity_send_challenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RespondToChallenge"
            android:label="@string/title_activity_respond_to_challenge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FriendProfile"
            android:label="@string/title_activity_friend_profile"
            android:parentActivityName=".FindFriends"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kyle.firstpick.FindFriends" />
        </activity>
    </application>

</manifest>
